* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

h1, h2, h3, .emily, .nav-list {
  font-family: 'Lexend';
}

body {
  font-family: 'Tinos';
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}



header {
  background-color: #000;
  color: #fff;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.emily, .nav-list {
  font-weight: 200;
}

.nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
}



#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
  background: url(../images/hands-typing.jpg) center/cover;
  filter: grayscale(70%);
}

#hero h1 {
  font-size: 3.5rem;
  max-width: 60%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  padding: 20px;
}



.about-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.about {
  flex-grow: 2;
}

.about-img {
  flex-grow: 1;
  max-width: 300px;
  height: auto;
  
}





#services {
  background-color: #fafafa;
  padding: 40px 0;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.services-grid article {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

#services h2 {
  text-align: center;
  max-width: 600px;
  padding-bottom: 20px;
  margin: 0 auto;
}

#services h3 {
  margin: 0;
}

.btn {
  margin-top: auto;
  padding: 10px 15px;
  background: #000;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.btn:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}



#work h2,
#work p {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 20px;
}

#work h2 {
  padding-top: 60px;
}

.work-grid img {
 width: 100%;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 40px;
}

.work-grid img:nth-child(1), 
.work-grid img:nth-child(2) {
  grid-column: span 3;
}

.work-grid img:nth-child(3), 
.work-grid img:nth-child(4), 
.work-grid img:nth-child(5) {
  grid-column: span 2;
}



footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}